.side-grid {
    display: grid;
    grid-template-rows: 1fr 10fr;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 70px;
    font-family: var(--ubuntu);
    padding: 20px 0 0 20px;
}
.logo>span {
    padding-bottom: 10px;
    font-size: 3em;
    font-weight: bold;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 20px 0 20px;
}
.menu-comp {
    margin: 10px 0 10px 0;
}
.menu-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.menu-icon {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 10px;
}

.sub-menu {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 35px;
    span, a {
        font-size: 1.1em;
    }
}